__pycache__/
*.pyc
*.pyo
*.pyd
env/
venv/
.venv/
ENV/
build/
dist/
eggs/
.eggs/
*.egg-info/
.pytest_cache/
cover/
coverage/
htmlcov/
.mypy_cache/
__MACOSX/
.DS_Store
node_modules/
*.log
.vscode/
.idea/
